* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-primary: rgb(24, 24, 24);
  --dark-primary2: rgb(12, 12, 12);
  --light-primary: rgb(235, 235, 235);
}

.header {
  background-color: var(--dark-primary);
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
    color: var(--light-primary);
    margin-left: 50px;
    font-size: 2.3rem;
}

.hamburgerBtn > img {
  width: 40px;
  margin-right: 50px;
  margin-top: 0;
}

.hamburgerBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: var(--dark-primary2);
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -450px;
    padding-left: 30px;
    transition: 0.2s ease-in-out;
}

.menu.active {
  right: 0;
  pointer-events: all;
}

.closeBtn {
  width: 50px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.closeBtn, img {
    display: flex;
    background: none;
    border: none;
    width: 25px;
    margin-left: auto;
    margin-top:17px;
    margin-right: 55px;
    cursor: pointer;
}

.link {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(41, 41, 41);
    transition: 0.15s ease-in-out;
}

.link > a {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    color: var(--light-primary);
    width: 300px;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}

.link:hover {
    border-bottom: 2px solid white;
}
